:root {
    --light-bg: #f8f9fa;
    --primary-color: #33415c;
    --text-color: #000000;
}

body {
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    background-color: var(--light-bg);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-color);
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: yellow;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.dropdown-menu.active {
    display: block !important;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navbar {
        flex-wrap: wrap;
    }

    .nav-menu {
        width: 100%;
        text-align: center;
    }

    .nav-menu .nav-item {
        display: block;
        margin: 10px 0;
    }

    .dropdown-menu {
        position: static;
        width: 100%;
    }
}

